{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація - Tanja Tattoo Academy</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto:wght@400;500&family=Megrim&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'auth.css' %}">
</head>
<body>

    <div class="auth-container">
        <div class="auth-box">
            <a href="../index.html" class="logo">Tanja<span>Tattoo</span></a>
            <h2>Створення акаунту</h2>
            <p class="auth-subtitle">Заповніть форму, щоб почати свій шлях тату-майстра</p>
            <form action="{% url 'register' %}" method="post">
              {% csrf_token %}
              {% if form.errors %}
                <p style="color: red">Invalid Data {{ form.errors }}</p>
              {% endif %}
                <div class="input-row">
                    <div class="input-group">
                        <label for="first_name">Ім'я</label>
                        <input type="text" id="first_name" name="first_name" required placeholder="Таня">
                    </div>
                    <div class="input-group">
                        <label for="last_name">Прізвище</label>
                        <input type="text" id="last_name" name="last_name" required placeholder="Іванова">
                    </div>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required placeholder="example@email.com">
                </div>
                <div class="input-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password1" required placeholder="Мінімум 8 символів">
                </div>
                <div class="input-group">
                    <label for="password">Повтор пароля</label>
                    <input type="password" id="password" name="password2" required placeholder="Мінімум 8 символів">
                </div>
                <div class="input-group">
                    <label for="phone">Телефон (необов'язково)</label>
                    <input type="tel" id="phone" name="phone" placeholder="+380123456789">
                </div>
                <div class="input-group">
                    <label for="subscription_code">Код підписки</label>
                    <input type="text" id="subscription_code" name="code" required placeholder="XXXX-XXXX-XXXX">
                </div>

                <button type="submit" class="btn">Зареєструватись</button>
            </form>
            <div class="form-footer">
                <p>Вже маєте акаунт? <a href="{% url "login" %}">Увійти</a></p>
            </div>
        </div>
    </div>

</body>
</html>