{% extends 'base-admin.html' %}
{% load static %}

{% block title %}Заявки на бокси - {{ block.super }}{% endblock %}
{% block header_title %}Заявки на бокси{% endblock %}

{% block content %}
  <div class="filter-tabs">
    <a href="{% url 'admin_boxes' %}?type=active" class="filter-tab {% if filter == "active" %}active{% endif %}">На
      відправку <span
          class="tab-counter">{{ active_count }}</span></a>
    <a href="{% url 'admin_boxes' %}?type=sent" class="filter-tab {% if filter == "sent" %}active{% endif %}">Відправлені
      <span
          class="tab-counter">{{ sent_count }}</span></a>
  </div>

  <div class="admin-grid">
    {% for box in boxes %}
      <div class="admin-item-card application-card-admin">
        <div class="admin-item-header">
          <img src="{{ box.user.avatar.url }}" alt="Avatar" class="avatar">
          <div class="info">
            <strong>{{ box.user.get_full_name }}</strong>
            <p>Заявка від {{ box.sent_date|date:"m-d-y H:i" }}</p>
          </div>
        </div>
        <div class="admin-item-body">
          <div class="info-item">
            <strong>Адреса:</strong>
            <span>{{ box.address }}</span>
          </div>
          <div class="info-item">
            <strong>Телефон:</strong>
            <span>{{ box.phone }}</span>
          </div>
          <div class="info-item">
            <strong>ФІО отримувача:</strong>
            <span>{{ box.full_name }}</span>
          </div>
          <div class="info-item">
            <strong>Коментарі:</strong>
            <span>{{ box.comments }}</span>
          </div>
          {% if box.is_sent %}
          <div class="info-item">
            <strong>Статус:</strong>
            <span>Вже відправлено: <strong>{{ box.sent_date|date:"d-m-y H:i" }}</strong></span>
          </div>
          {% endif %}
        </div>
        {% if not box.is_sent %}
          <div class="admin-item-footer">
          <form method="post">
            {% csrf_token %}
            <button class="btn mark-as-sent-btn" name="mark_as_sent" value="{{ box.pk }}" style="width: 100%;">Позначити
              як відправлений
            </button>
          </form>
        {% endif %}

        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}